<div class = 'container'>
  <div class="row">
    <div class = 'col-md-6 col-md-offset-3'>
      <div class = 'well'>
        <h2 class = 'text-center'>Sign up</h2>
        <% if params[:plan] == "eat" %>
        <br/>
        <h3 class = 'text-center'> Sign up and start browsing local menus</h3>
        <br/>
        <%= render"eat_form" %>
        <% else %>
        <br/>
        <h3 class = 'text-center'> Apply to sell your homemade food via our site</h3>
        <br/>
         <%= render "cook_form" %>
        <% end%>
        
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
