<!DOCTYPE HTML>
<html>
    <head></head>
    <body>
      <p>  You have received a message from <%= "#{@fname} #{@lname} , whose email address is #{@email}:" %></p> <br>
      <p> <%= "#{@body}" %> </p>
        
        
    </body>
    
    
</html>